.bibtex-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.bibtex {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    font-family: monospace;
}

.doi-link {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    text-decoration: none;
    margin-left: 10px;
}

.doi-link:hover {
    text-decoration: underline;
}


.archive__item-title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
    /* 调整间距 */
    color: #333;
}

.paper-index {
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
    /* 让序列号和标题有一点间距 */
}

.paper-title {
    font-weight: normal;
    font-size: 14px;
    color: #000;
}