.bibtex-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    /* 调整字号 */
}

.bibtex {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    /* 确保格式正确 */
    font-family: monospace;
}