.bibtex-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.bibtex {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    font-family: monospace;
}

.doi-link {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    text-decoration: none;
    margin-left: 10px;
}

.doi-link:hover {
    text-decoration: underline;
}